////// TYPEFACE

// Font family
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");
$font-family:'Roboto', 'Noto Sans Japanese', sans-serif;


// Font size
$h1-size: 50px;
$h2-size: 42px;
$h3-size: 32px;
$h4-size: 28px;
$h5-size: 22px;
$h6-size: 18px;
$p-size: 16px;
$p-size-sm: 14px;
$p-size-xs: 12px;
$p-size-xxs: 10px;

////// COLOR

// Main
$aqua: #00BBB4; // Primary
$aqua-dark: darken($aqua, 8%); // Primary dark
$aqua-light: lighten($aqua, 8%); // Primary light

$velvet: #0A0D45; // Secondary
$velvet-light: #4A2385; // Secondary light

// Monochrome
$black: #000000;
$darkest-grey: #333333;
$dark-grey: #666666;
$grey: #999999;
$light-grey: #CCCCCC;
$pale-grey: #F0F0F0;
$white: #FFFFFF;

// Notification
$red: #DD3D4F;


////// HEADER NAVIGATION VARIABLES

// Nav height
$nav-top-height-mx: 90px;
$nav-top-height-sm: 60px;
$nav-top-height-xs: 44px;
$nav-global-height-mx: 30px;
$nav-global-height-sm: 24px;

// Nav menu breakpoint
$nav-break-point: 610px;

// border radius
$radius: 6px;
$radius-sm: 4px;

////// MIXINS

// Background image
@mixin background-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

// Transition
@mixin transition-all {
  transition: all 0.13s ease-in-out;
  -webkit-transition: all 0.13s ease-in-out;
  -moz-transition: all 0.13s ease-in-out;
  -ms-transition: all 0.13s ease-in-out;
  -o-transition: all 0.13s ease-in-out;
}


// Flex
@mixin flex {
  display:flex;
  display: -webkit-flex;
  display: -ms-flex;
}

@mixin flex-column {
  display:flex;
  flex-direction:column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: -ms-flex;
  -ms-flex-direction: column;
}

@mixin flex-wrap {
  display:flex;
  flex-wrap:wrap;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: -ms-flex;
  -ms-flex-wrap: wrap;
}