// Banner
.banner {
  width: 100%;
  overflow: hidden;
  position:relative;
  background: $pale-grey;
  .banner-img { // Homepage banner size
    @include background-image;
    &::before {
      display: block;
      content: "";
      padding-top: 34%;
      vertical-align: text-bottom;
      min-height: 500px;
    }
  }
  &.sm {
    .banner-img { // Small banner size
      &::before {
        padding-top: 20%;
        min-height: 220px;
        @media (max-width: 767px) {
          padding-top: 25%;
          min-height: 0px;
        }
      }
    }
  }
  &.course {
    .banner-img { // course list banner size
      &::before {
        min-height: auto;
        padding-top: 35%;
        min-height: 100px;
      }
    }
  }
  .text-box {
    text-align: left;
    position:absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    z-index:1;
    margin:0 auto;
    left:0;
    right:0;
    @media (max-width: 991px) {
      max-width: 500px;
    }
    h1 {
      max-width: 590px;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        max-width: 100%;
      }
    }
    h5 {
      max-width: 517px;
      @media (max-width: 991px) {
        max-width: 100%;
      }
    }
  }
  img.negative-curve {
    position: absolute;
    margin-left: -30px;
    bottom: -1px;
    max-width: calc(100% + 60px);
    width: calc(100% + 60px);
  }
  &.home { // only for home page
    background: $black;
    .text-box {
      top: calc(50% - 4%);
      @media (max-width: 991px) {
        text-align: center;
      }
    }
    .banner-img {
      opacity: .75;
      @media (max-width: 991px) {
        &::before {
          padding-top: 15%;
          min-height: 300px;
        }
      }
      @media (max-width: 767px) {
        opacity: .9;
        &::before {
          padding-top: 34%;
          min-height: 200px;
        }
      }
    }
    > img.negative-curve {
      position: absolute;
      margin-left: -30px;
      bottom: -1px;
      max-width: calc(100% + 60px);
      width: calc(100% + 60px);
    }
  }
}

// Curves
.positive-curve {
  height: 1.2vw;
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: -1.1vw;
  overflow: hidden;
  @media (max-width: 767px) {
    top: -1.1vw;
  }
  &.no-banner {
    position: relative;
    margin-left: -30px;
    top: -1.2%;
    max-width: calc(100% + 60px);
    width: calc(100% + 60px);
    height: 5.4%;
  }
}
.curve-arrow-piece {
  margin-top: -3.5%;
  position: relative;
  width: 10%;
  @media (max-width: 767px) {
    margin-top: -1.3%;
    margin-left: -1%;
    width: 12%;
  }
  &.home {
    width: 12%;
    margin-left: -3%;
    margin-top: -4%;
    @media (max-width: 767px) {
      width: 10%;
      margin-left: -1%;
      margin-top: -1%;
    }
  }
}

.no-banner-curve {
  overflow:hidden;
  .curve-arrow-piece {
    margin-top: -4.5%;
    position: relative;
    width: 10%;
    margin-left: -3%;
  }
}

// Mobile curve
.curve {
  position: relative;
  .positive-curve {
    top: -1.1vw;
    height: 5.4vw;
  }
}