// Blog list specific
section.blog-list {
  > ul {
    > li {
      > p.date {
        text-transform: uppercase;
      }
      > a {
        > h4 {
          @include transition-all;
        }
        &:hover, &:focus {
          > h4 {
            color: $aqua;
          }
        }
      }
      .banner {
        border: 1px solid #{$pale-grey};
        border-radius: $radius;
        background: transparent;
        @media (max-width: $nav-break-point) {
          border-radius: $radius-sm;
        }
        .banner-img {
          border-radius: $radius;
          @media (max-width: $nav-break-point) {
            border-radius: $radius-sm;
          }
          @include transition-all;
          &::before {
            padding-top: 60%;
            min-height: 100px;
          }
        }
        &:hover, &:focus {
          .banner-img {
            opacity: .7;
          }
        }
      }
      &:nth-child(1) {
        .top-space, hr {
          display: none;
        }
      }
      p {
        line-height: 1.6;
        > a {
          &:hover, &:focus {
            color: $aqua-light;
          }
        }
      }
    }
  }
}

// Blog article
article {
  > .blog-article {
    &.blog {
      margin-top: -40px;
    }
    > a {
      > p {
        @include transition-all;
        font-size: $p-size;
        color: $aqua;
        text-transform: uppercase;
        line-height: 1;
        @media (max-width: 414px) {
          font-size: $p-size-sm;
        }
        i {
          font-size: $h6-size;
          padding-right: 6px;
          @media (max-width: 414px) {
            font-size: $p-size;
          }
        }
      }
      &:hover, &:focus {
        > p {
          color: $aqua-light;
        }
      }
    }
    p.date {
      text-transform: uppercase;
    }
    figure {
      margin-bottom: 30px;
      figcaption {
        text-align: center;
        color: $grey;
        font-style: italic;
        padding: 10px;
        @media (max-width: 543px) {
          font-size: $p-size-sm;
        }
      }
    }
    img {
      border-radius: $radius;
      margin: 0 auto;
      display: block;
      @media (max-width: $nav-break-point) {
        border-radius: $radius-sm;
      }
      &.wp-post-image {
        @media (max-width: 620px) {
          border-radius: 0;
          max-width: calc(100% + 60px);
          margin-left: -30px;
        }
        @media (max-width: 543px) {
          border-radius: 0;
          max-width: calc(100% + 40px);
          margin-left: -20px;
        }
        @media (max-width: 370px) {
          border-radius: 0;
          max-width: calc(100% + 30px);
          margin-left: -15px;
        }
      }
    }
    .content { // article styles
      ul > li, p, h1, h2, h3, div {
        font-weight: 400;
        line-height: 1.8;
        font-size: $h6-size;
        &.empty {
          display: inline-block;
          width: 100%;
          margin: 0;
        }
        @media (max-width: 767px) {
          font-size: $p-size;
          line-height: 1.6;
        }
      }
      div {
        font-family: $font-family;
      }
      > div {
        margin-bottom: 1em;
      }
      blockquote {
        position: relative;
        padding: 25px;
        background: $pale-grey;
        border-radius: $radius;
        @media (max-width: $nav-break-point) {
          border-radius: $radius-sm;
          padding: 20px;
        }
        &::before {
          content: '❝';
          font-size: 27px;
          color: $aqua;
          position: absolute;
          background: $pale-grey;
          border-radius: 100%;
          width: 37px;
          text-align: center;
          height: 37px;
          left: -15px;
          margin-top: -1px;
        }
        > ul > li, > p {
          font-style: italic;
          color: $dark-grey;
          margin-bottom: 0;
        }
      }
      ul {
        > li {
          padding-left: 27px;
          text-indent: -15px;
          display: list-item;
          &::before {
            content: "• ";
            color: $aqua;
            font-size: 40px;
            line-height: 0;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      h5 {
        text-transform: uppercase;
        font-weight: 600;
        color: $aqua;
        font-size: $p-size;
        &.empty {
          display: inline-block;
          width: 100%;
          margin: 0;
        }
        @media (max-width: 767px) {
          font-size: $p-size-sm;
        }
      }
      h6 {
        font-weight: 400;
        font-size: $p-size;
        color: $dark-grey;
        &.empty {
          display: inline-block;
          width: 100%;
          margin: 0;
        }
        @media (max-width: 767px) {
          font-size: $p-size-sm;
        }
      }
      p > b, h6 > b, p > strong, h6 > strong, span > strong {
        color: $darkest-grey;
      }
      h4 > span > b, h4 > span > strong {
        color: $velvet;
      }
      a {
        font-weight: 400;
        font-size: $h6-size;
        text-decoration: underline;
      }
    }
  }
}

// Admin side editor sync
#tinymce {
  margin:0 auto;
  max-width: 870px;
  padding: 25px;
  dl.wp-caption {
    max-width: 100%;
    .wp-caption-dd {
      text-align: center;
      color: $grey;
      font-style: italic;
      padding: 10px;
    }
  }
  img {
    border-radius: $radius;
    margin: 0 auto;
    display: block;
    @media (max-width: $nav-break-point) {
      border-radius: $radius-sm;
    }
  }
  ul > li, p, h1, h2, h3, div {
    font-weight: 400;
    line-height: 1.8;
    font-size: $h6-size;
    @media (max-width: 767px) {
      font-size: $p-size;
    }
  }
  div {
    font-family: $font-family;
  }
  > div {
    margin-bottom: 1em;
  }
  ul {
    > li {
      padding-left: 27px;
      text-indent: -15px;
      display: list-item;
      &::before {
        content: "• ";
        color: $aqua;
        font-size: 40px;
        line-height: 0;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  blockquote {
    position: relative;
    padding: 25px;
    background: $pale-grey;
    border-radius: $radius;
    @media (max-width: $nav-break-point) {
      border-radius: $radius-sm;
      padding: 20px;
    }
    &::before {
      content: '❝';
      font-size: 27px;
      color: $aqua;
      position: absolute;
      background: $pale-grey;
      border-radius: 100%;
      width: 37px;
      text-align: center;
      height: 37px;
      left: -15px;
      margin-top: -1px;
    }
  }
  h5 {
    text-transform: uppercase;
    font-weight: 600;
    color: $aqua;
    font-size: $p-size;
  }
  h6 {
    font-weight: 400;
    font-size: $p-size;
    color: $dark-grey;
  }
  p > b, h6 > b, p > strong, h6 > strong, span > strong {
    color: $darkest-grey;
  }
  h4 > span > b, h4 > span > strong {
    color: $velvet;
  }
  a {
    font-weight: 400;
    font-size: $h6-size;
    text-decoration: underline;
  }
}
