section.contact {
  > ul {
    @include flex;
    > li {
      &:first-child {
        width:47.5%;
        > iframe {
          padding-right: 60px;
          height: 0;
          height: 50vw;
        }
      }
      &:last-child {
        width: 52.5%;
      }
    }
  }
  table {
    tr {
      > td {
        vertical-align: top;
        &.direction {
          width: 70px;
          @media (max-width: 767px) {
            width: 38px;
          }
        }
        > i {
          font-size: 18px;
          width: 30px;
          text-align: center;
          margin-right: 5px;
        }
        > img {
          margin-left: 37px;
          margin-right: 13px;
          width: 24px;
          height: 24px;
          @media (max-width: 767px) {
            margin-left: 4px;
          }
        }
        p {
          font-weight: 400;
          font-size: $h6-size;
          margin-bottom: 20px;
          @media (max-width: 767px) {
            font-size: $p-size;
          }
        }
      }
      &.phone {
        > td {
          > i {
            font-size: 27px;
          }
        }
      }
    }
  }
}

// Google maps
iframe {
  height: 90vw;
  max-height: 450px;
}


// IE 10 only fix
html[data-useragent*='MSIE 10.0'] {
  .page-template-page-contact iframe{
    margin-top: 50px!important;
  }
}