section.cla {
  > .svg {
    path {
      fill: $pale-grey;
    }
  }
  .row {
    display: inline-block;
    > .col-md-5 {
      text-align: center;
      margin-top: 85px;
      @media (max-width: 767px) {
        margin-bottom: 40px;
        margin-top: 0;
      }
      img {
        width: 200px;
        height: 81px;
        @media (max-width: 767px) {
          text-align: center;
        }
      }
    }
    > .col-md-7 {
      @media (max-width: 767px) {
        text-align: center;
      }
      > hr {
        margin: 0;
        margin: 25px 0;
        margin-left: 0;
        text-align: left;
        @media (max-width: 767px) {
          margin: 25px auto;
        }
      }
    }
  }
}
