$list-margin: 14px;
// Course listing
ul.course-list {
  justify-content: center;
  @include flex-wrap;
  @media (max-width:991px) {
    max-width: 700px;
    margin: 0 auto;
  }
  &.no-center {
    justify-content: left;
  }
  > li {
    width: calc(100% / 3 - #{$list-margin});
    @media (min-width: 992px) {
      @include flex-column;
    }
    @media (max-width: 991px) {
      width:100%;
      margin: 0;
    }
    @media (min-width: 992px) {
      &:nth-child(3n+1) {
        margin-right: calc(#{$list-margin} / 1.5);
      }
      &:nth-child(3n+2) {
        margin-right: calc(#{$list-margin} / 3);
        margin-left: calc(#{$list-margin} / 3);
      }
      &:nth-child(3n+3) {
        margin-left: calc(#{$list-margin} / 1.5);
      }
    }
  }
  p.hint {
    width: 100%;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 1.8vw;
    margin-bottom: 1.8vw;
    @media (min-width: 1280px) {
      font-size: $h5-size;
      margin-bottom: $h5-size;
    }
    @media (max-width: 991px) and (min-width: 621px) {
      font-size: $h5-size;
      br {
        display: none;
      }
    }
    @media (max-width: 620px) {
      font-size: $h6-size;
      margin-bottom: $h6-size;
    }
  }
  .course-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #{$light-grey};
    border-radius: $radius;
    padding-bottom: 50px;
    margin-bottom: 50px;
    height: 100%;
    z-index: 10;
    background: $white;
    @media (min-width: 992px) {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
    @media (max-width: 991px) and (min-width: 621px) {
      @include flex;
      height: auto;
    }
    @media (max-width: 620px) {
      @include flex-column;
      margin-bottom: 30px;
      height: auto;
      padding-bottom: 40px;
    }
    @media (max-width: 543px) {
      border-radius: $radius-sm;
      display: block;
    }
    &:hover, &:focus {
      float:left;
      box-shadow: 0px 5px 50px 0px rgba(0,0,0,.2)!important;
      -webkit-box-shadow: 0px 5px 50px 0px rgba(0,0,0,.2)!important;
      -webkit-transform:translateY(-5px);
      -moz-transform:translateY(-5px);
      -moz-transform:translateY(-5px);
      -o-transform:translateY(-5px);
      transform:translateY(-5px);
      .learn-more {
        background-color: $aqua;
      }
    }
    > .banner {
      @media (max-width: 991px) and (min-width: 621px) {
        width: 42%;
        // display: table-cell;
        // vertical-align: top;
        > .banner-img {
          &::before {
            min-height: 90%;
            padding-top: 90%;
          }
        }
      }
      @media (max-width: 767px) and (min-width: 621px) {
        > .banner-img {
          &::before {
            min-height: 110%;
            padding-top: 110%;
          }
        }
      }
      @media (max-width: 620px) {
       > .banner-img {
          &::before {
            padding-top: 28%;
          }
        }
      }
    }
    > .text-area {
      height: 100%;
      background-color: $white;
      text-align: center;
      padding: 30px;
      @media (max-width: 991px) and (min-width: 621px) {
        // display: table-cell;
        // vertical-align: top;
        text-align: left;
        width: calc(100% - 42%);
      }
      @media (max-width: 620px) {
        padding: 20px;
      }
      h4 {
        color: $aqua;
      }
      hr {
        margin: 25px auto;
        @media (max-width: 991px) and (min-width: 621px) {
          margin-left:0;
        }
        @media (max-width: 620px) {
          margin: 15px auto;
        }
      }
      p {
        font-weight: 400;

      }
      p.highlights {
        font-size: 14px;
        color: $grey;
        margin-bottom: 0;
        line-height: 1.7;
      }
    }
    .learn-more {
      @include transition-all;
      text-align: center;
      padding: 20px;
      background-color: $velvet-light;
      color: $white;
      font-size: $h6-size;
      position: absolute;
      width: 100%;
      height: 60px;
      bottom: 0;
      left: 0;
      @media (max-width: 620px) {
        height: 44px;
        padding: 14px;
        font-size: $p-size;
      }
      &:active {
        box-shadow: inset 0px 5px 50px 0px rgba(0,0,0,.5)!important;
        -webkit-box-shadow: inset 0px 5px 50px 0px rgba(0,0,0,.5)!important;
      }
    }
  }
}

// Course listing with velvet background
section.bg-velvet {
  padding-top: 120px;
  padding-bottom: 150px;
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  > .container {
    > p {
      opacity: .75;
    }
    .course-list {
      i {
        color: $white;
        font-weight: 300;
      }
      .course-item {
        border: 1px solid #{$velvet};
        &:hover, &:focus {
          box-shadow: 0px 5px 40px 0px rgba(0,0,0,1)!important;
          -webkit-box-shadow: 0px 5px 40px 0px rgba(0,0,0,1)!important;
        }
      }
    }
  }
}

// Course article
article {
  .blog-article.course {
    .overview {
      margin: 50px 0;
      padding: 30px;
      background: $pale-grey;
      border-radius: $radius;
      @media (max-width: 767px) {
        padding: 20px;
        margin: 30px 0;
      }
      @media (max-width: 543px) {
        border-radius: $radius-sm;
      }
      @media (max-width: 370px) {
        padding: 15px;
      }
    }
    p {
      color: $dark-grey;
      line-height: 1.4;
    }
  }
}

// view more link
a.more-link {
  width: 100%;
  display: block;
}


// IE 10 only css
html[data-useragent*='MSIE 10.0'] {
  ul.course-list {
    display: block;
    > li {
      @media (min-width: 992px) {
        display: inline-block;
      }
    }
    .course-item {
      display: block;
      @media (max-width: 991px) and (min-width: 621px) {
        display: block;
      }
      @media (max-width: 620px) {
        display: block;
      }
      > .banner {
        @media (max-width: 991px) and (min-width: 621px) {
          width: 100%;
          > .banner-img {
            &::before {
              min-height: 100px;
              padding-top: 30%;
            }
          }
        }
        @media (max-width: 767px) and (min-width: 621px) {
          > .banner-img {
            &::before {
              min-height: 100px;
              padding-top: 30%;
            }
          }
        }
      }
      > .text-area {
        text-align: center;
        width: 100%;
      }
      hr {
        @media (max-width: 991px) and (min-width: 621px) {
          margin: 15px auto;
        }
      }
    }
  }
}

// IE 10 and 11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  ul.course-list {
    .course-item {
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
    }
  }
}
