// Events list
section.events {
  > ul {
    > li {
      width: 100%;
      > p {
        margin-top: 18px;
        margin-bottom: 25px;
        @media (max-width: 767px) {
          margin-bottom: 15px;
        }
      }
      > ul {
        > li {
          vertical-align: top;
          width: calc(25% - 3px);
          padding-right: 30px;
          > p:first-child {
            text-transform: uppercase;
            margin-bottom: 6px;
            i {
              margin-right: 6px;
            }
          }
          @media (min-width: 768px) {
            &:nth-child(1) { // date section
              width: calc(27% - 3px);
            }
            &:nth-child(2) { // address section
              width: calc(31% - 3px);
            }
            &:nth-child(3) { // price section
              width: calc(17% - 3px);
            }
          }
          @media (max-width: 767px) {
            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
              width: calc(100% - 3px);
              border-bottom: 1px solid #{$light-grey};
              padding: 10px 0;
              display: table;
              br {
                display: none;
              }
              p {
                display: table-cell;
                &:first-child {
                  width: 80px;
                }
              }
            }
            &:nth-child(3) {
              border: 0;
            }
          }
          &:last-child {
            @media (max-width: 767px) {
              width: 100%;
              padding-right: 0;
              text-align: center;
              margin-top: 10px;
            }
            p {
              margin: 0 auto;
              max-width: 260px;
              text-transform: initial;
            }
            p.text {
              text-align: center;
              white-space: nowrap;
              margin-bottom: 7px;
            }
            p.label {
              text-transform: uppercase;
            }
            p.email {
              font-size: $p-size-sm;
              > a {
                font-size: $p-size-sm;
              }
              @media (max-width: 767px) {
                font-size: $p-size;
                > a {
                  font-size: $p-size;
                }
              }
            }
            > a {
              margin: 0 auto;
              width: 100%;
              display: block;
              text-align: center;
            }
            img {
              @include transition-all;
              max-width: 161px;
              &:hover, &:focus {
                opacity: .7;
              }
            }
          }
        }
      }
      &:last-child {
        hr {
          display: none;
        }
      }
    }
  }
}


// Event snippet for blog posts
section.events.snippet {
  background-color: $pale-grey;
  padding: 30px;
  border-radius: $radius;
  @media (max-width: $nav-break-point) {
    border-radius: $radius-sm;
  }
  @media (max-width: 543px) {
    padding: 20px;
  }
  > p {
    text-transform: uppercase;
    font-weight: 600;
  }
  p.description {
    > span {
      display: none;
    }
  }
  > ul > li {
    > h4 {
      // color: $aqua;
    }
    > ul > li {
      > p {
        font-size: 15px;
      }
    }
    .vertical-space {
      display: none;
    }
  }
}