/*Flex box make over*/
.flex {
  display:flex;
  display: -webkit-flex;
  display: -ms-flex;
}

.flex-column {
  display:flex;
  flex-direction:column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: -ms-flex;
  -ms-flex-direction: column;
}

.flex-wrap {
  display:flex;
  flex-wrap:wrap;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: -ms-flex;
  -ms-flex-wrap: wrap;
}
