footer {
  position: relative;
  padding: 65px 0;
  @media (max-width: 543px) {
    padding: 30px 0;
  }
  > svg {
    path {
      fill: $aqua;
    }
  }
  > .container {
    > ul {
      @media (max-width: 991px) {
        max-width: 600px;
        margin: 0 auto;
      }
      @media (max-width: 543px) {
        text-align: center;
      }
      > li {
        vertical-align: top;
        &.logo-container {
          width: 20.7%;
          padding-right:30px;
          @media (max-width: 1300px) {
            width: 18.7%;
          }
          @media (max-width: 991px) {
            width: 32.6%;
            padding-right: 50px;
          }
          @media (max-width: 660px) {
            width: 32.3%;
            padding-right: 30px;
          }
          @media (max-width: 543px) {
            width: 100%;
            padding-right: 0px;
            margin-bottom:30px;
          }
          @media (max-width: 414px) {
            margin-bottom:20px;
          }
          > a {
            &:hover, &:focus {
              opacity: .75;
            }
            .logo {
              width: 163px;
              height: 83px;
              @media (max-width: 414px) {
                height: 60px;
              }
            }
          }
        }
        &.menu {
          width: 14.7%;
          padding-right:30px;
          @media (max-width: 1300px) {
            width: 12%;
          }
          @media (max-width: 991px) {
            width: 20%;
          }
          @media (max-width: 543px) {
            width: 100%;
            padding-right: 0px;
          }
          ul.menu {
            > li {
              display: block;
              margin-bottom: 25px;
              @media (max-width: 1300px) {
                margin-bottom: 15px;
              }
              @media (max-width: 543px) {
                display: inline-block;
                margin: 0 3.2vw;
                &:first-child {
                   margin-left: 0;
                }
                &:last-child {
                   margin-right: 0;
                }
                @media (max-width: 370px) {
                  margin: 0 2.5vw;
                }
              }

              a {
                @include transition-all;
                font-size: $h6-size;
                padding: 0;
                color: $white;
                @media (max-width: 1300px) {
                  font-size: $p-size;
                }
                @media (max-width: 414px) {
                  font-size: $p-size-sm;
                }
                &:hover {
                  color: $velvet;
                }
              }
              &.current-menu-item {
                a {
                  color: $velvet;
                }
              }
            }
          }
        }
        &.contact-info-container {
          width: 26.2%;
          padding-right:30px;
          @media (max-width: 1300px) {
            width: 28.2%;
          }
          @media (max-width: 991px) {
            width: 46%;
            padding-right: 0;
          }
          @media (max-width: 543px) {
            width: 100%;
            padding-top: 30px;
            margin-top: 20px;
            border-top: 1px solid rgba(256,256,256, .5);
          }
          @media (max-width: 414px) {
            padding-top: 20px;
            margin-top: 10px;
          }
          .contact-info {
            max-width: 275px;
            @media (max-width: 543px) {
              max-width: 100%;
            }
            table {
              @media (max-width: 543px) {
                margin: 0 auto;
              }
              tr {
                @media (max-width: 543px) {
                  display: inline-block;
                  margin-bottom: 6px;
                }
                @media (max-width: 414px) {
                  margin-bottom: 0px;
                }
                > td {
                  vertical-align: top;
                  > i {
                    font-size: 18px;
                    width: 30px;
                    text-align: center;
                    margin-right: 5px;
                    @media (max-width: 543px) {
                      display: none;
                    }
                  }
                  > img {
                    margin-left: 37px;
                    margin-right: 13px;
                    width: 24px;
                    height: 24px;
                  }
                  p {
                    color: $white;
                    font-size: $h6-size;
                    margin-bottom: 20px;
                    @media (max-width: 1300px) {
                      font-size: $p-size;
                      margin-bottom: 10px;
                    }
                    @media (max-width: 414px) {
                      font-size: $p-size-sm;
                    }
                  }
                }
                &.phone {
                  @media (max-width: 543px) {
                    margin-left: 10px;
                  }
                  > td {
                    > i {
                      font-size: 27px;
                    }
                  }
                }
                &:first-child {
                  @media (max-width: 543px) {
                    margin-right: 10px;
                  }
                }
                &:last-child {
                  @media (max-width: 543px) {
                    width: 100%;
                    margin-bottom: 0;
                    > td {
                      display: block;
                    }
                  }
                }
              }
            }
            ul.social-links {
              margin-left: 38px;
              @media (max-width: 543px) {
                margin-top: 4px;
                margin-left: 0;
              }
              i {
                z-index: 10;
                @include transition-all;
                color: $white;
                font-size: $h3-size;
                margin-right: 15px;
                @media (max-width: 1300px) {
                  font-size: $h4-size;
                  margin-right: 10px;
                }
                &:hover, &:focus {
                  color: $velvet;
                }
              }
            }
          }
        }
        &.newsletter-signup {
          width: 36.4%;
          @media (max-width: 1300px) {
            width: 38.4%;
          }
          @media (max-width: 991px) {
            width: 100%;
            text-align: center;
            padding-top: 40px;
            margin-top: 40px;
            border-top: 1px solid rgba(256,256,256, .5);
          }
          @media (max-width: 543px) {
            padding-top: 30px;
            margin-top: 30px;
          }
          @media (max-width: 414px) {
            padding-top: 30px;
            margin-top: 20px;
          }
          p.title {
            font-size: $p-size;
            text-transform: uppercase;
            margin-bottom: 0;
            @media (max-width: 414px) {
              font-size: $p-size-sm;
            }
          }
          p {
            color: $white;
            font-size: $h6-size;
            @media (max-width: 1300px) {
              font-size: $p-size;
            }
            @media (max-width: 991px) {
              max-width: 400px;
              margin: 0 auto;
              margin-bottom: 20px;
            }
            @media (max-width: 414px) {
              font-size: $p-size-sm;
            }
          }
        }
      }
    }
  }
}

// Full height footer
#content {
  @media (min-width: 768px) {
    min-height: calc(100vh - 469px);
  }
}
