$gallery-margin: .4vw;
$max-gallery-margin: 6px;

section.gallery {
  overflow: hidden;
  padding: 0;
  margin: 0;
  padding-bottom: calc(#{$gallery-margin} * 2);
  position: relative;
  @media (min-width: 1301px) {
    padding-bottom: calc(#{$max-gallery-margin} * 2);
  }
  @media (max-width: 543px) {
    max-width: calc(100% + 120px);
    width: calc(100% + 120px);
    margin-left: -60px;
  }
  > .svg {
    position: absolute;
    top: -1px;
    max-width: calc(100% + 60px);
    width: calc(100% + 60px);
    margin-left: -30px;
    height: 1.9vw;
    z-index: 1;
  }
  > ul {
    white-space: nowrap;
    @include flex;
    > li {
      width: 25%;
      > .image-container {
        > .img {
          @include background-image;
          &::before {
            display: block;
            content: "";
            vertical-align: text-bottom;
            padding-top: calc(75% - #{$gallery-margin});
            @media (min-width: 1301px) {
              padding-top: calc(75% - #{$max-gallery-margin});
            }
          }
        }
        &.three {
          margin-top: calc(#{$gallery-margin} * 2);
          @media (min-width: 1301px) {
            margin-top: calc(#{$max-gallery-margin} * 2);
          }
        }
        &.four {
          > .img::before {
            padding-top: 150%;
          }
        }
      }
      &:first-child {
        width: 50%;
        padding-right: calc(#{$gallery-margin} / 0.75);
        @media (min-width: 1301px) {
          padding-right: calc(#{$max-gallery-margin} / 0.75);
        }
      }
      &:nth-child(2) {
        padding-right: calc(#{$gallery-margin} / 1.5);
        padding-left: calc(#{$gallery-margin} / 1.5);
        @media (min-width: 1301px) {
          padding-right: calc(#{$max-gallery-margin} / 1.5);
          padding-left: calc(#{$max-gallery-margin} / 1.5);
        }
      }
      &:nth-child(3) {
        padding-left: calc(#{$gallery-margin} / 0.75);
        @media (min-width: 1301px) {
          padding-left: calc(#{$max-gallery-margin} / 0.75);
        }
      }
    }
  }
}

// If background is pale grey
section.gallery.bg-pale-grey {
  > .svg {
    path {
      fill: $pale-grey;
    }
  }
}

#content {
  @media (max-width: 767px) {
    overflow: hidden;
  }
}