// All
html, body, header, article, aside, div, area, a, li, ul, footer {
  margin:0; padding:0;
}

// Disable font scaling
html, body {
  -webkit-text-size-adjust: 100%;
}

// Box sizing
*, ::after, ::before {
  box-sizing: border-box;
}

// Background color
.bg-aqua {background-color: $aqua;}
.bg-aqua-dark {background-color: $aqua-dark;}
.bg-aqua-light {background-color: $aqua-light;}
.bg-velvet {background-color: $velvet;}
.bg-velvet-light {background-color: $velvet-light;}
.bg-black {background-color: $black;}
.bg-darkest-grey {background-color: $darkest-grey;}
.bg-dark-grey {background-color: $dark-grey;}
.bg-grey {background-color: $grey;}
.bg-light-grey {background-color: $light-grey;}
.bg-pale-grey {background-color: $pale-grey;}
.bg-white {background-color: $white;}
.bg-red {background-color: $red;}

// Text color
.txt-aqua {color: $aqua;}
.txt-aqua-dark {color: $aqua-dark;}
.txt-aqua-light {color: $aqua-light;}
.txt-velvet {color: $velvet;}
.txt-velvet-light {color: $velvet-light;}
.txt-black {color: $black;}
.text-darkest-grey {color: $darkest-grey;}
.txt-dark-grey {color: $dark-grey;}
.txt-grey {color: $grey;}
.txt-light-grey {color: $light-grey;}
.txt-pale-grey {color: $pale-grey;}
.txt-white {color: $white;}
.txt-red {color: $red;}

// Font family
h1, h2, h3, h4, h5, h6, p, a, li, td, input, textarea, select, button {
  font-family:$font-family;
}

// Font default weight
h1, h2, h3, h4, b {font-weight: 600;}
p, a, li, td, input, textarea, select, button, h5, h6 {font-weight: 400;}

.f-weight-300 { font-weight: 300; }
.f-weight-400 { font-weight: 400; }

// Font default color
h1, h2, h3, h4 {color: $velvet;}
h5, h6 {color: $dark-grey;}
p {color: $darkest-grey;}
a {color: $aqua;}

// Font default line height
h1 {line-height: 1.14;}
h2 {line-height: 1.1;}
h3 {line-height: 1.15;}
h4 {line-height: 1.14;}
h5 {line-height: 1.27;}
h6 {line-height: 1.33;}
p {line-height: 1.38;}
a {line-height: 1;}


// Font size and font class
h1,.h1-size {
  font-size: $h1-size;
  @media (max-width:1050px) {font-size: $h2-size;}
  @media (max-width:991px) {font-size: $h3-size;}
  @media (max-width:767px) {font-size: $h4-size;}
  @media (max-width:543px) {font-size: $h5-size;}
}

h2, .h2-size {
  font-size: $h2-size;
  @media (max-width:1050px) {font-size: $h3-size;}
  @media (max-width:991px) {font-size: $h4-size;}
  @media (max-width:767px) {font-size: $h5-size;}
}

h3, .h3-size {
  font-size: $h3-size;
  @media (max-width:1050px) {font-size: $h4-size;}
  @media (max-width:767px) {font-size: $h5-size;}
}

h4, .h4-size {
  font-size: $h4-size;
  @media (max-width:1050px) {font-size: $h5-size;}
}

h5, .h5-size {
  font-size: $h5-size;
  @media (max-width:1050px) {font-size: $h6-size;}
  @media (max-width:767px) {font-size: $p-size;}
}

h6, .h6-size {
  font-size: $h6-size;
  @media (max-width:1050px) {font-size: $p-size;}
}

p, a, li, ul, td, input, textarea, select, button, .p-size {
  font-size: $p-size;
  @media (max-width:1050px) {font-size: $p-size-sm;}
}

.p-size-sm {
  font-size: $p-size-sm;
  @media (max-width:543px) {font-size: $p-size-xs;}
}

.p-size-xs {font-size: $p-size-xs;}
.p-size-xxs {font-size: $p-size-xxs;}

// Transform fix
body {
  -webkit-backface-visibility: hidden;
}

 // UL and LI
ul > li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

// Anchor links
a {
  @include transition-all;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    list-style: none;
  }
}

// Bootstrap grid
[class^='col-'] {
  float: left;
}

// Container
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: calc(1300px - 60px);
  @media (max-width:1300px) {
    max-width: calc(100% - 60px);
  }
  @media (max-width:767px) {
    max-width: calc(100% - 60px);
  }
  @media (max-width:543px) {
    max-width: calc(100% - 40px);
  }
  @media (max-width:370px) {
    max-width: calc(100% - 30px);
  }
  &.max-1220 {
    @media (min-width:1281px) {
      max-width: calc(1280px - 60px);
    }
    @media (max-width:1280px) and (min-width: 544px) {
      max-width: calc(100% - 60px);
    }
  }
  &.max-1110 {
    @media (min-width:1171px) {
      max-width: calc(1170px - 60px);
    }
    @media (max-width:1170px) and (min-width: 544px) {
      max-width: calc(100% - 60px);
    }
  }
  &.max-1024 {
    @media (min-width:1085px) {
      max-width: calc(1084px - 60px);
    }
    @media (max-width:1084px) and (min-width: 544px) {
      max-width: calc(100% - 60px);
    }
  }
  &.max-840 {
    @media (min-width:901px) {
      max-width: calc(900px - 60px);
    }
    @media (max-width:900px) and (min-width: 544px) {
      max-width: calc(100% - 60px);
    }
  }
  &.max-780 {
    @media (min-width:841px) {
      max-width: calc(840px - 60px);
    }
    @media (max-width:840px) and (min-width: 544px) {
      max-width: calc(100% - 60px);
    }
  }
  &.max-720 {
    @media (min-width:781px) {
      max-width: calc(780px - 60px);
    }
    @media (max-width:780px) and (min-width: 544px) {
      max-width: calc(100% - 60px);
    }
  }
}

// Text centering
.text-centered {
  text-align: center;
}

// Page section
section {
  padding: 50px 0;
  position: relative;
  &.container {
    padding: 50px 0;
  }
  &.no-pad {
    padding: 0;
  }
}

// svg
svg {
  height: auto;
}

// overflow
.overflow {
  overflow: hidden;
}

// hr
hr {
  &.aqua {
    border-top: 4px solid #{$aqua};
  }
  &.cla {
    border-top: 4px solid #B1B557;
  }
  &.long {
    width: 120px;
  }
  &.short {
    width: 60px;
  }
}

// Responsive hide and show
.mobile {
  display: none;
}
.desktop {
  display: block;
}
@media (max-width: 767px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

// Subtitle
.subtitle {
  @media (max-width: 767px) {
    br {
      display: none;
    }
  }
}


