// Global navigation
.global-navbar {
  background-color: $velvet;
  line-height: $nav-global-height-mx;
  @media (max-width: 370px) {
    line-height: $nav-global-height-sm;
    height: $nav-global-height-sm;
  }
  ul.menu {
    white-space: nowrap;
    > li {
      > a {
        color: $white;
        font-size: $p-size-xs;
        text-transform: uppercase;
        margin-right: 10px;
        font-weight: 400;
        @include transition-all;
        @media (max-width: $nav-break-point) {
          margin-right: 1.2vw;
        }
        @media (max-width: 414px) {
          font-size: 3vw;
          margin-right: 2.2vw;
        }
        @media (max-width: 370px) {
          font-size: 3.05vw;
        }
      }
      &:nth-child(2) > a, &:hover > a, &:focus > a {
        color: $aqua;
      }
      &:first-child > a {
        margin-left: 10px;
        @media (max-width: $nav-break-point) {
          margin-left: 0;
        }
      }
      &:last-child > a {
        margin-right: 0;
      }
    }
    @media (max-width: $nav-break-point) {
      text-align: center;
    }
  }
}

// CJC (primary) navigation
.navbar {
  @include transition-all;
  background-color: $white;
  line-height: $nav-top-height-mx;
  padding: 0;
  @media (max-width: 991px) {
    line-height: $nav-top-height-sm;
  }
  @media (max-width: $nav-break-point) {
    line-height: $nav-top-height-xs;
  }
  a.logo { // Logo
    @media (max-width: $nav-break-point) {
      width: 100%;
      text-align: center;
    }
    svg, img {
      margin-top: 4px;
      max-height: calc(#{$nav-top-height-mx} - 17px);
      width: 142px;
      @media (max-width: 991px) {
        margin-top: 2px;
        max-height: calc(60px - 11px);
        width: 98px;
      }
      @media (max-width: $nav-break-point) {
        max-height: calc(#{$nav-top-height-sm} - 2px);
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        width: 100%;
        height: 58px;
      }
      @include transition-all;
      #Fill-13,
      #Fill-14,
      #Fill-15,
      #Fill-9,
      #Fill-10,
      #Fill-11,
      #Fill-12,
       {
        fill: $aqua;
      }
    }
    &:hover, &:focus {
      opacity: .6;
    }
  }
  .menu-coto-club-primary-menu-container {
    float: right;
    @media (max-width: $nav-break-point) {
      width: 100%;
      float: none;
    }
    ul.menu { // Main Nav
      @media (max-width: $nav-break-point) {
        text-align: center;
        overflow: hidden;
        max-height: $nav-top-height-xs;
      }
      @media (max-width: 460px) {
        white-space: nowrap;
      }
      > li {
        > a {
          padding: 0;
          color: $velvet;
          font-size: $h5-size;
          font-weight: 400;
          margin-right: 40px;
          @include transition-all;
          @media (max-width: 991px) {
            font-size: $h6-size;
            margin-right: 30px;
          }
          @media (max-width: $nav-break-point) {
            line-height: $nav-top-height-xs;
          }
          @media (max-width: 460px) {
            font-size: $p-size;
            margin-right: 5vw;
          }
          @media (max-width: 370px) {
            font-size: 4.6vw;
            margin-right: 4vw;
          }
        }
        &.current_page_item > a, &:hover > a, &:focus > a {
          color: $aqua;
        }
        &.current_page_item > a {
          border-bottom: 3px solid;
          line-height: 1.6;
          @media (max-width: $nav-break-point) {
            border: 0;
          }
        }
        &:last-child > a {
          margin-right: 0;
        }
      }
    }
  }
}

// CJC (primary) headroom unpinned
body:not(.page-template-page-inquiry-submission-confirmation) {
  .navbar.main {
    &.headroom--not-top {
      top:0;
      position: fixed;
      z-index: 20;
      width: 100%;
      box-shadow: 0px 0px 50px 0px rgba(0,0,0,.08);
      -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,.08);
      @media (max-width: $nav-break-point) {
        &.headroom--unpinned.mobile-offset {
          -webkit-transform: translateY(-70px);
          -moz-transform: translateY(-70px);
          -ms-transform: translateY(-70px);
          -o-transform: translateY(-70px);
          transform: translateY(-70px);
        }
      }
    }
  }
}

// Activate navigation space with headroom
body:not(.page-template-page-inquiry-submission-confirmation) {
  .nav-space {
    @include transition-all;
    position: fixed;
    height: $nav-top-height-mx;
    @media (max-width: 991px) {
      height: 60px;
    }
    @media (max-width: $nav-break-point) {
      height: 115px;
    }
    &.headroom--not-top {
      position: static;
    }
  }
}

body.page-template-page-inquiry-submission-confirmation,
body.error404,
body.single-post {
  .navbar.main {
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,.08);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,.08);
  }
}

// Custom highlight for courses when viewing course single
.single-school_courses {
  .navbar {
    ul.menu > li:first-child {
      > a {
        color: $aqua;
        border-bottom: 3px solid;
        line-height: 1.6;
        @media (max-width: $nav-break-point) {
          border: 0;
        }
      }
    }
  }
}

// Custom highlight for courses when viewing course single
.post-template-default.single {
  .navbar {
    ul.menu > li:nth-child(4) {
      > a {
        color: $aqua;
        border-bottom: 3px solid;
        line-height: 1.6;
        @media (max-width: $nav-break-point) {
          border: 0;
        }
      }
    }
  }
}






