// Home page specific
.home main.site-main {
  margin-top: -60px;
}

.home section.mobile {
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 36px;
  }
  @media (max-width: 543px) {
    padding-top: 30px;
    padding-bottom: 19px;
  }
  @media (max-width: 414px) {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .positive-curve {
    height: 5.4vw;
    top: calc(100% - 1.25vw);
  }
}

.home .subtitle {
  @media (max-width: 1500px) and (min-width: 768px) {
    margin-top: 30px;
  }
}