// Form container
div[role="form"] {
  max-width: 100%;
}

// This will override all contact form 7 plugin forms
form.wpcf7-form {
  .wpcf7-form-control-wrap {
    position: relative;
    margin-bottom: 30px;
    display: block;
    @media (max-width: 543px) {
      margin-bottom: 20px;
    }
  }
  font-size: $h6-size;
  @media (max-width: 543px) {
    font-size: $p-size;
  }
  @media (max-width: 370px) {
    font-size: $p-size-sm;
  }
  input[type]:not([type='checkbox'], [type='radio'], [type='submit']),
  select:not([size]):not([multiple]),
  textarea {
    @include transition;
    border: 1px solid #{$white};
    border-left: 3px solid #{$aqua};
    margin-top: 5px;
    height: 53px;
    font-size: $h6-size;
    border-radius: 0;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    @media (max-width: 543px) {
      border-top-right-radius: $radius-sm;
      border-bottom-right-radius: $radius-sm;
    }
    padding: 15px;
    @media (max-width: 767px) {
      font-size: $p-size;
      height: 44px;
      padding: 10px;
    }
    &:hover {
      border: 1px solid #{$light-grey};
      border-left: 3px solid #{$aqua};
    }
    &:focus {
      border: 1px solid #{$aqua};
      border-left: 3px solid #{$aqua};
    }
  }
  input[type]::-webkit-input-placeholder,
  input[type]:-moz-placeholder,
  input[type]::-moz-placeholder,
  input[type]:-ms-input-placeholder {
    color :$light-grey;
  }
  input[type="submit"] {
    height: 53px;
    font-size: $h6-size;
    padding: 15px;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    background-color: $velvet;
    color: $white;
    @media (max-width: 767px) {
      font-size: $p-size;
      height: 44px;
      padding: 10px;
    }
    @media (max-width: 543px) {
      border-radius: $radius-sm;
    }
    &:hover, &:focus {
      background-color: $aqua-dark;
      outline: none;
      box-shadow: none;
      color: $white;
    }
    &:active {
      box-shadow: inset 0px 5px 50px 0px rgba(0,0,0,.5)!important;
      -webkit-box-shadow: inset 0px 5px 50px 0px rgba(0,0,0,.5)!important;
    }
  }
  textarea {
    min-height: 120px;
  }
  select:not([size]):not([multiple]) {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../img/dropdown-arrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
    background-size: 13px;
    padding-right: 35px;
    &.unselected, &::-ms-expand {
      display: none;
    }
  }
  span.wpcf7-list-item {
    margin: 0;
    margin-top: 15px;
    > label > input {
      @include transition;
      cursor: pointer;
      vertical-align: middle;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      width: 25px;
      height: 25px;
      border: 1px solid #{$white};
      background: $white;
      border-radius: $radius;
      outline: none;
      margin-right: 5px;
      @media (max-width: 543px) {
        border-radius: $radius-sm;
      }
      &:hover, &:focus {
        border: 5px solid #{$white};
        background: $pale-grey;
      }
      &:checked {
        border: 5px solid #{$white};
        background: $aqua;
      }
      &[type="radio"] {
        border-radius: 100%;
      }
    }
    .wpcf7-list-item-label {
      cursor: pointer;
      font-size: $p-size;
      margin-right: 16px;
      vertical-align: middle;
      color: $dark-grey;
      @media (max-width:370px) {
        font-size: $p-size-sm;
      }
    }
  }
  span[role="alert"] {
    white-space: nowrap;
    font-family: $font-family;
    color: $red;
    margin-top: 5px;
    font-size: $p-size;
    @media (max-width: 767px) {
      margin-top: 4px;
      font-size: $p-size-sm;
    }
  }
  .wpcf7-validation-errors {
    display: none;
  }
}


// Footer newsletter
#wpcf7-f182-o2,
#wpcf7-f182-o1 {
  form.wpcf7-form.news-letter-signup {
    width: 100%;
    max-width: 370px;
    position: relative;
    @media (max-width: 991px) {
      max-width: 100%;
    }
    p {
      > span, > input {
        display: inline-block;
        vertical-align: top;
        font-weight: 300;
      }
      > span { //email input
        max-width: calc(100% - 96px);
        margin: 0;
        @media (max-width: 414px) {
          max-width: calc(100% - 76px);
        }
        > input {
          margin: 0;
          border: 0!important;
          border-radius: 0;
        }
      }
      > input[type="submit"] { //submit button
        margin-left: -5px;
        max-width: 94px;
        border: 0;
        border-radius: 0;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        @media (max-width: 543px) {
          border-top-right-radius: $radius-sm;
          border-bottom-right-radius: $radius-sm;
        }
        @media (max-width: 414px) {
          max-width: 76px;
        }
      }
      br {
        display: none;
      }
    }
    .wpcf7-validation-errors {
      display: none;
    }
    .wpcf7-mail-sent-ok {
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
      position: absolute;
      top: 0;
      border: 0;
      margin: 0;
      background-color: $velvet;
      height: 100%;
      width: 100%;
      text-align: center;
      padding: 15px;
      font-size: $p-size;
      font-family: $font-family;
      @media (max-width: 543px) {
        border-top-right-radius: $radius-sm;
        border-bottom-right-radius: $radius-sm;
      }
    }
  }
}


// Large inquiry + contact info
section.inquiry {
  padding-top: 65px;
  padding-bottom: 120px;
  background-color: $pale-grey;
  @media (max-width:767px) {
    padding-bottom: 50px;
  }
  @media (max-width:543px) {
    padding-top: 55px;
    padding-bottom: 40px;
  }
  svg {
    path {
      fill: $pale-grey;
    }
  }
  ul.contact {
    margin-top: 46px;
    margin-bottom: 40px;
    @media (max-width: 543px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    > li {
      @media (max-width: 543px) {
        display: block;
      }
      p {
        font-weight: 400;
        font-size: $h5-size;
        vertical-align: bottom;
        @media (max-width: 767px) {
          font-size: $h6-size;
        }
        @media (max-width: 543px) {
          font-size: $p-size;
          margin-bottom: 10px;
        }
        > i {
          margin-right: 11px;
          &.fa-mobile {
            vertical-align: bottom;
            font-size: 33px;
            @media (max-width: 543px) {
              font-size: 28px;
            }
          }
        }
      }
      &:first-child {
        p {
          margin-right: 70px;
          @media (max-width: 543px) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

// Small inquiry
form.wpcf7-form.small-inquiry-form {
  span.wpcf7-form-control-wrap {
    margin-bottom: 15px;
    > input[type]:not([type='checkbox'], [type='radio'], [type='submit']) {
      border: 1px solid #{$light-grey};
      border-left: 3px solid #{$aqua};
      &:hover {
        border: 1px solid #{$grey};
        border-left: 3px solid #{$aqua};
      }
      &:focus {
        border: 1px solid #{$aqua};
        border-left: 3px solid #{$aqua};
      }
    }
  }
}

// IE 10 and 11 fix
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  form.wpcf7-form {
    span.wpcf7-list-item {
      > label > input {
        width: initial;
        height: initial;
        border: 0;
        background: transparent;
        border-radius: 0;
        outline: none;
        margin-right: 3px;
        @media (max-width: 543px) {
          border-radius: 0;
        }
        &:hover, &:focus, &:checked {
          border: 0;
          background: transparent;
        }
        &[type="radio"] {
          border-radius: 0;
        }
      }
    }
  }
}




