$aqua-background-size: 20px;
$aqua-background-size-sm: 10px;


section.container.jump-join {
  @media (max-width: 1330px) {
    padding-top: 20px;
  }
  @media (max-width: 543px) {
    padding-bottom: 30px;
  }
  > .jump, .join {
    @include flex;
    align-items: center;
    @media (max-width: 1330px) {
      max-width: 1024px;
      margin: 0 auto;
    }
    @media (max-width: 767px) {
      max-width: 600px;
      margin: 0 auto;
    }
    @media (max-width: 640px) {
      margin-right: -15px;
      margin-left: -15px;
    }
    .image-container {
      padding-bottom: $aqua-background-size;
      @media (max-width: 991px) {
        padding-bottom: $aqua-background-size-sm;
      }
      @media (max-width: 767px) {
        margin: 0;
      }
      img {
        margin-left: -$aqua-background-size;
        margin-top: -$aqua-background-size;
        @media (max-width: 991px) {
          margin-left: -$aqua-background-size-sm;
          margin-top: -$aqua-background-size-sm;
        }
      }
    }
    .text {
      @media (max-width: 767px) {
        margin-top: 30px;
        text-align: center;
      }
      @media (max-width: 543px) {
        margin-top: 30px;
      }
      > hr {
        text-align: left;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 20px;
        @media (max-width: 991px) {
          margin-top: 20px;
          margin-bottom: 15px;
        }
        @media (max-width: 767px) {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
      }
      > p {
        @media (max-width: 1330px) {
          font-size: $h6-size;
        }
        @media (max-width: 991px) {
          font-size: $p-size;
        }
      }
      > h3 {
        @media (max-width: 991px) {
          font-size: $h5-size;
        }
      }
    }
  }
  > .jump {
    .image-container {
      margin-right: $aqua-background-size;
    　margin-left: $aqua-background-size;
      @media (max-width: 991px) {
        margin-right: 0;
      　margin-left: $aqua-background-size-sm;
      }
    }
    .text {
      padding-left: 30px;
      @media (max-width: 1330px) {
        padding-left: 0px;
      }
    }
  }
  > .join {
    @include flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    .image-container {
      margin-left: $aqua-background-size;
      margin-right: $aqua-background-size;
      @media (max-width: 991px) {
        margin-right: 0;
      　margin-left: $aqua-background-size-sm;
      }
    }
    .text {
      padding-right: 30px;
      @media (max-width: 1330px) {
        padding-right: 0px;
      }
    }
  }
}

// IE 10 only css
html[data-useragent*='MSIE 10.0'] {
  section.container.jump-join {
    margin: 0 auto;
    text-align: center;
    .jump, .join {
      max-width: 100%;
      width: 100%;
      display: inline-block;
      margin: 0 auto;
      .text {
        text-align: left;
        padding-top: 50px;
        @media (max-width: 1300px) {
          padding-top: 20px;
        }
        @media (max-width: 767px) {
          padding-top: 0;
          text-align: center;
        }
      }
    }
    .join {
      .col-md-6 {
        &:first-child {
          float: right;
        }
        &:last-child {
          float: left;
        }
      }
    }
  }
}