

.navigation {
   margin-top: 40px;
   text-align: center;
   li {
    display: inline;
    position: relative;
    a {
      @include transition-all;
      position: relative;
      color: $grey;
      background: $white;
      border-radius: 100%;
      border:1px solid $grey;
      cursor: pointer;
      padding:10px 16px;
      font-weight: 400;
      vertical-align: middle;
      &:hover, &:focus {
        color: $aqua;
        border:1px solid $aqua;
      }
    }
    &.active {
      a {
        color: $white;
        background: $aqua;
        border:1px solid $aqua;
        z-index: 1;
      }
      span {
        background-image: url(../img/logo-arrow-piece.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 9px);
        background-size: 83%;
        width: 35px;
        height: 36px;
        position: absolute;
        left: 4px;
        bottom: -28px;
      }
    }
  }
}
