section.promotion {
  position: relative;
  padding-top: 80px;
  padding-bottom: 90px;
  @media (max-width: 767px) {
    padding-bottom: 60px;
  }
  @media (max-width: 543px) {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  > .row {
    @include flex;
    align-items: center;
  }
  > .label {
    position: absolute;
    top: -85px;
    width: 100%;
    text-align: center;
    z-index: 1;
    @media (max-width: 767px) {
      top: -55px;
    }
    > img.graphic {
      position: absolute;
      z-index: 1;
      margin-left: -35px;
      top: -12px;
      left: -116px;
      right: 0;
      margin: 0 auto;
      @media (max-width: 767px) {
        left: -100px;
      }
    }
    > img.speech-bubble {
      -webkit-filter: drop-shadow(5px 5px 7px rgba(0,0,0,0.15));
      filter: drop-shadow(5px 5px 7px rgba(0,0,0,0.15));
      width: 110px;
      height: 129px;
      @media (max-width: 767px) {
        width: 85px;
        height: 100px;
      }
    }
    > p {
      margin-top: -96px;
      position: relative;
      line-height: 1.3;
      font-size: $h6-size;
      @media (max-width: 767px) {
        margin-top: -78px;
        font-size: 15px;
      }
    }
  }
  .col-md-6:first-child {
    padding-right: 5.45%;
    @media (max-width: 991px) {
      padding-right:  2.45%;
    }
    @media (max-width: 767px) {
      margin-bottom: 20px;
      padding: 0;
    }
    .banner {
      @include transition-all;
      border-radius: $radius;
      background: $velvet;
      @media (max-width: $nav-break-point) {
        border-radius: $radius-sm;
      }
      > .banner-img {
        border-radius: $radius;
        @media (max-width: $nav-break-point) {
          border-radius: $radius-sm;
        }
        &::before {
          padding-top: 75%;
          min-height: 250px;
          @media (max-width: 767px) {
            padding-top: 50%;
            min-height: 200px;
          }
        }
      }
      &:hover, &:focus {
        opacity:.7;
      }
    }
  }
  .col-md-6:last-child {
    @media (max-width: 767px) {
      padding: 0;
      text-align: center;
    }
    p.date {
      text-transform: uppercase;
    }
    p.summary {
      opacity: .8;
    }
    a.link {
      &:hover, &:focus {
        color: $aqua-dark;
      }
    }
  }
}


// Change curve color
section.promotion {
  svg {
    path {
      fill: $velvet;
    }
  }
}

// IE 10 only css
html[data-useragent*='MSIE 10.0'] {
  section.promotion {
    > .row {
      display: table;
      .col-md-6:last-child {
        > div {
          @media (min-width: 768px) {
            padding-top: 30px;
          }
        }
      }
    }
  }
}