$testimonial-avatar: 161px;
$testimonial-avatar-sm: 141px;

section.testimonial {
  text-align: center;
  padding-bottom: 100px;
  @media (max-width: 767px) {
    padding-bottom: 70px;
    padding-top: 20px;
  }
  @media (max-width: 543px) {
    padding-top: 0px;
  }
  .avatar {
    margin-top: 30px;
    position: relative;
    .banner {
      background: transparent;
      position: absolute;
      right: -10px;
      top: -6px;
      left: 0;
      margin: 0 auto;
      border-radius: 100%;
      height: $testimonial-avatar;
      width: $testimonial-avatar;
      @media (max-width: 991px) {
        height: $testimonial-avatar-sm;
        width: $testimonial-avatar-sm;
      }
    }
    img {
      width: calc(#{$testimonial-avatar} + 7px);
      height: calc(#{$testimonial-avatar} + 36px);
      @media (max-width: 991px) {
        width: calc(#{$testimonial-avatar-sm} + 3px);
        height: calc(#{$testimonial-avatar-sm} + 31px);
      }
    }

  }
  p.quote {
    font-size: $h6-size;
    max-width: 270px;
    margin: 0 auto;
    color: $grey;
    @media (max-width: 991px) {
      font-size: $p-size;
      margin: 0 15px;
    }
    @media (max-width: 543px) {
      font-size: $p-size-sm;
      margin: 0 10px;
    }
    @media (max-width: 414px) {
      margin: 0 20px;
    }
  }
  > .testimonials-container {
    @media (max-width: 767px) {
      max-width: 100%;
      overflow: hidden;
    }
  }
  p {
    @media (max-width: 991px) {
      font-size: $p-size;
      margin: 0 15px;
    }
    @media (max-width: 543px) {
      font-size: $p-size-sm;
      margin: 0 10px;
    }
    @media (max-width: 414px) {
      margin: 0 20px;
    }
  }
}


// Carousel specific
.owl-carousel {
  position: relative;
  .owl-item {
    img {
      display: inline-block;
      width: auto;
      .item {
        max-width: 300px!important;
      }
    }
    .avatar {
      background-repeat: no-repeat;
      max-width: 220px;
      margin-left: auto;
      margin-right: auto;
      @media (max-width: 991px) {
        max-width: 204px;
      }
    }
    &:nth-child(3n+1) {
      .avatar {
        background-image: url(../img/coto-cartoon-graphic-1.svg);
        background-position-y: calc(100% - 20px);
        background-position-x: calc(0% + 10px);
      }
    }
    &:nth-child(3n+2) {
      .avatar {
        background-image: url(../img/coto-cartoon-graphic-2.svg);
        background-position-y: calc(0% + 0px);
        background-position-x: calc(0% + 1px);
      }
    }
    &:nth-child(3n+3) {
      .avatar {
        background-image: url(../img/coto-cartoon-graphic-3.svg);
        background-position-y: calc(0% + 0px);
        background-position-x: calc(100% - 0px);
      }
    }
  }
  .owl-nav {
    position: absolute;
    left: -60px;
    width: calc(100% + 120px);
    right: 0;
    top: 84px;
    @media (max-width: 1180px) {
      display: none;
    }
    button[role="presentation"] {
      @include transition-all;
      position: relative;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      background-color: $pale-grey;
      &.owl-prev {
        float: left;
        i {
          right: 3px;
        }
      }
      &.owl-next {
        float: right;
        i {
          left: 3px;
        }
      }
      &:hover, &:focus {
        outline: none;
        box-shadow: none;
        background-color: $aqua;
      }
      &:active {
        box-shadow: inset 0px 5px 50px 0px rgba(0,0,0,.2)!important;
        -webkit-box-shadow: inset 0px 5px 50px 0px rgba(0,0,0,.2)!important;
      }
      i {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
        color: $white;
        font-size: $h3-size;
      }
    }
  }
  .owl-stage {
    margin: 0 auto;
  }
}